<!DOCTYPE html> 
<html>
<head>
		<title>8d6</title>
		<link rel='stylesheet' type='text/css' href='css/base.css' />
</head>
<body>
		<div class='wrapper'>
				<div class='topbar'>
						<div class='title'>
								<a href='/'>Eight Dee Six</a>
						</div>
						<div class='nav'>
								{% if session['username'] %}
									<a href='/account'>account</a>
									<a href='/logout'>logout</a>
								{% else %}
									<a href='/login'>login</a>
									<a href='/register'>register</a>
								{% endif %}
						</div>
				</div>
		{% block main %} {% endblock%}
		</div>
	</body>
</html>
