{% extends 'base.html' %}

{% block main %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
 
<h1>register</h1>
<form action='' method='POST'>
		<label>username
				<input type='text' name='username'>
		</label>
		<label>email
				<input type='text' name='email'>
		</label>
		<label>password
				<input type='password' name='password'>
		</label>
		<input type='submit' value='register'>
</form>

{% endblock %}
